<% initial_type = local_assigns.key?(:type) ? type : form.object.contentable_type
  if initial_type.present?
    # Correctly handle both '::' and '/' in the class name
    class_name_underscored = initial_type.underscore.split(/::|\//).last
    class_name_namespaced = initial_type.classify.include?("::") ? initial_type.classify : "AureliusPress::ContentBlock::#{initial_type.classify}" %>
  <div class="nested-fields added-by-vanilla-nested">

    <h3><%= class_name_underscored.humanize.titleize %></h3>

    <%= form.hidden_field :id %>
    <%= form.hidden_field :contentable_type, value: class_name_namespaced %>
    <%= form.hidden_field :_destroy, class: "destroy-field" %>

    <div class="field-group">
      <label>Meta Data</label>
      <%= form.input :position %>
      <%= form.input :html_id %>
      <%= form.input :html_class %>
      <%= form.input :data_attributes, as: :text %>
    </div>

    <div class="field-group">
      <label>Content</label>
      <%= form.fields_for :contentable, form.object.contentable || class_name_namespaced.constantize.new do |delegated_form| %>
        <%= render "aurelius_press/admin/content_block/#{class_name_underscored.pluralize}/#{class_name_underscored}_fields", form: delegated_form %>
      <% end %>
    </div>

    <%= link_to_remove_nested form, link_text: "Remove" %>
  </div>
<% end %>
