<%= render HeroComponent.new(
     title: "Viewing Author",
     subtitle: @author.name,
     small: true,
   ) %>

<div class="container" template="AureliusPress::Catalogue::Authors#show">

  <h1>Author <%= @author.name %></h1>

  <p><strong>Name:</strong> <%= @author.name %></p>
  <p><strong>Bio:</strong> <%= @author.bio %></p>
  <p><strong>Created At:</strong> <%= l(@author.created_at, format: :long) %></p>
  <p><strong>Updated At:</strong> <%= l(@author.updated_at, format: :long) %></p>

</div>
