<% form_url = (@user.new_record? ? aurelius_press_admin_users_path : aurelius_press_admin_user_path(@user)) %>

<%= simple_form_for @user, url: form_url do |f| %>

  <h3><%= @user.new_record? ? "Create New User" : "Edit User: #{@user.full_name}" %></h3>

  <div class="form-errors">
    <%= f.error_notification message: "Please fix the errors below." %>
  </div>

  <div class="form-inputs">

    <%= f.input :id, as: :hidden, input_html: { value: @user.id } if @user.persisted? %>

    <div class="form-field-group personal-details">
      <div class="grid row">
        <div class="col">
          <%= f.object.avatar.attached? ? image_tag(f.object.avatar.variant(resize_to_limit: [100, 100])) : content_tag(:span, "No avatar uploaded") %>
          <%= f.input :avatar, as: :file, hint: "Upload a profile picture." %>
        </div>
      </div>

      <div class="grid row">
        <div class="col">
          <%= f.input :first_name %>
        </div>
        <div class="col">
          <%= f.input :last_name %>
        </div>
        <div class="col">
          <%= f.input :age, as: :integer, input_html: { min: 0, max: 120 } %>
        </div>
      </div>

      <div class="grid row">
        <div class="col">
          <%= f.input :username %>
        </div>
        <div class="col">
          <%= f.input :email, input_html: { autocomplete: "email" } %>
        </div>
        <div class="col hide">
          <%# <%= f.input :phonenumber, input_html: { autocomplete: "tel" } %>
        </div>
      </div>
    </div>

    <div class="form-field-group mb-4">
      <%= f.label :bio, "Bio" %>
      <%= f.rich_text_area :bio, id: "trix_bio_id" %>
    </div>

    <% if f.object.new_record? %>
      <div class="grid row">
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
      </div>
    <% else %>
      <div class="grid row">
        <%= f.input :password, required: false %>
        <%= f.input :password_confirmation, required: false %>
      </div>
      <small>* Leave password fields blank to keep current password.</small>
    <% end %>

    <div class="grid row">
      <div class="col">
        <%= f.input :status, collection: AureliusPress::User.statuses.keys %>
      </div>
      <div class="col">
        <%= f.label :role %>
        <% allowed_roles = AureliusPress::User.roles.map { |name, value| [name.humanize, name] if value < AureliusPress::User.roles[current_user.role] }.compact %>
        <%= f.select :role, options_for_select(allowed_roles, selected: f.object.role), {}, { class: "form-control", readonly: AureliusPress::User.roles[current_user.role] < AureliusPress::User.roles[:admin] } %>
      </div>
    </div>
  </div>

  <div class="form-controls grid row my-4">
    <%= link_to "Back to Users", aurelius_press_admin_users_path, class: "button", role: "button" %>

    <% if @user.persisted? %>
      <%= link_to "Delete", aurelius_press_admin_user_path(@user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "button danger", role: "button" %>
    <% end %>

    <%= f.button :submit, value: @user.new_record? ? "Create" : "Update", class: "button warning", role: "button" %>
  </div>

<% end %>
