<%= render HeroComponent.new(
     title: "AureliusPress::Admin::Users#index",
     subtitle: "Manage users of the AureliusPress application.",
     small: true,
   ) %>

<div class="container">
  <div>
    <h2 class="flex justify-between items-center">
      <span>Users</span>
      <%= link_to "New User", new_aurelius_press_admin_user_path, class: "button success", role: "button" %>
    </h2>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Status</th>
          <th>Role</th>
          <th>Full Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.status %></td>
            <td><%= user.role %></td>
            <td><%= user.full_name %></td>
            <td><%= user.email %></td>
            <td>
              <%= link_to "Show", aurelius_press_admin_user_path(user) %>
              &nbsp;
              <%= link_to "Edit", edit_aurelius_press_admin_user_path(user) %>
              &nbsp;
              <%= link_to "Delete", aurelius_press_admin_user_path(user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
