<%= render HeroComponent.new(
     title: "AureliusPress::Admin::Taxonomy::Categories#index",
     subtitle: "Find me in app/views/aurelius_press/admin/taxonomy/categories/index.html.erb",
     small: true,
   ) %>

<div class="container" template="AureliusPress::Admin::Taxonomy::Categories#index">
  <div class="row">

    <h3 class="flex justify-between items-center">
      <span>Categories</span>
      <%= link_to "New Category", new_aurelius_press_admin_taxonomy_category_path, class: "button success", role: "button" %>
    </h3>
    
    <table style="width: 100%; border-collapse: collapse; margin-top: 1rem;">
      <thead>
        <tr>
          <th>Slug</th>
          <th>Name</th>
          <th>Created At</th>
          <th>Updated At</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.slug %></td>
            <td><%= link_to category.name, aurelius_press_admin_taxonomy_category_path(category) %></td>
            <td><%= l(category.created_at, format: :short) %></td>
            <td><%= l(category.updated_at, format: :short) %></td>
            <td>
              <%= link_to "Show", aurelius_press_admin_taxonomy_category_path(category), class: "button btn-sm success", role: "button" %>
              <%= link_to "Edit", edit_aurelius_press_admin_taxonomy_category_path(category), class: "button btn-sm warning", role: "button" %>
              <%= link_to "Delete", aurelius_press_admin_taxonomy_category_path(category), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "button btn-sm danger", role: "button" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
