<h1>AureliusPress::Document::BlogPosts#show</h1>

<%= link_to "Edit", edit_aurelius_press_blog_post_path(@blog_post) %> |
<%= link_to "Delete", aurelius_press_blog_post_path(@blog_post), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %> |
<%= link_to "Back to Blog Posts", aurelius_press_blog_posts_path %>


<h2><%= @blog_post.title %></h2>
<% if @blog_post.subtitle.present? %>
  <h3><%= @blog_post.subtitle %></h3>
<% end %>

<p>
  <strong>Author:</strong>
  <%= @blog_post.user.full_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @blog_post.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @blog_post.status.humanize %>
</p>

<p>
  <strong>Visibility:</strong>
  <%= @blog_post.visibility.humanize %>
</p>

<p>
  <strong>Published At:</strong>
  <%= @blog_post.published_at %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @blog_post.tags.join(", ") %>
</p>

<p>
  <strong>Category:</strong>
  <%= @blog_post.category.name if @blog_post.category %>
</p>
