<%= render HeroComponent.new(
      title: "AureliusPress::Admin::Catalogue::Quotes#show",
      subtitle: "Find me in app/views/aurelius_press/admin/catalogue/quotes/show.html.erb",
      small: true,
    ) %>

<div class="container" template="AureliusPress::Admin::Catalogue::Quotes#show">
  <div class="card">

    <div class="card-header">
      <blockquote>
        <%= @quote.text %>
        <figcaption>
          — <i><%= "#{@quote.source_authors.map(&:name).join(", ")}, #{@quote.source.title}" %></i>
        </figcaption>
      </blockquote>
    </div>

    <div class="card-body">

      <p><em>Slug: <%= @quote.slug %></em></p>

      <p><strong>Context:</strong> <%= @quote.context.present? ? @quote.context : "N/A" %></p>

      <p><strong>Comments Enabled:</strong> <%= @quote.comments_enabled ? "Yes" : "No" %></p>

      <p><strong>Created At:</strong> <%= l(@quote.created_at, format: :long) %></p>
      <p><strong>Updated At:</strong> <%= l(@quote.updated_at, format: :long) %></p>

    </div>

    <div class="card-footer">
      <%= link_to "Edit", edit_aurelius_press_admin_catalogue_quote_path(@quote), class: "button warning", role: "button" %>
      <%= link_to "Back to quotes", aurelius_press_admin_catalogue_quotes_path, class: "button success", role: "button" %>
    </div>

  </div>
</div>
