<% if controller_path.include?("admin") %>
  <% in_admin_ns = true %>
  <% form_url = (@page.new_record? ? aurelius_press_admin_document_pages_path : aurelius_press_admin_document_page_path(@page)) %>
<% else %>
  <% in_admin_ns = false %>
  <% form_url = (@page.new_record? ? aurelius_press_pages_path : aurelius_press_page_path(@page)) %>
<% end %>

<%= simple_form_for @page, url: form_url, html: { class: "pico-page-form" }, data: { controller: "nested-forms document-meta", nested_form_wrapper_selector_value: ".nested-form-wrapper" } do |form| %>

  <template data-nested-forms-target="template" data-nested-forms-name="AureliusPress::ContentBlock::RichTextBlock">
    <%= form.simple_fields_for :content_blocks, AureliusPress::ContentBlock::ContentBlock.new(contentable_type: "AureliusPress::ContentBlock::RichTextBlock"), child_index: "NEW_RECORD" do |content_block_form| %>
      <%= render "aurelius_press/admin/content_block/content_block_fields", form: content_block_form %>
    <% end %>
  </template>

  <template data-nested-forms-target="template" data-nested-forms-name="AureliusPress::ContentBlock::ImageBlock">
    <%= form.simple_fields_for :content_blocks, AureliusPress::ContentBlock::ContentBlock.new(contentable_type: "AureliusPress::ContentBlock::ImageBlock"), child_index: "NEW_RECORD" do |content_block_form| %>
      <%= render "aurelius_press/admin/content_block/content_block_fields", form: content_block_form %>
    <% end %>
  </template>

  <template data-nested-forms-target="template" data-nested-forms-name="AureliusPress::ContentBlock::GalleryBlock">
    <%= form.simple_fields_for :content_blocks, AureliusPress::ContentBlock::ContentBlock.new(contentable_type: "AureliusPress::ContentBlock::GalleryBlock"), child_index: "NEW_RECORD" do |content_block_form| %>
      <%= render "aurelius_press/admin/content_block/content_block_fields", form: content_block_form %>
    <% end %>
  </template>

  <template data-nested-forms-target="template" data-nested-forms-name="AureliusPress::ContentBlock::VideoEmbedBlock">
    <%= form.simple_fields_for :content_blocks, AureliusPress::ContentBlock::ContentBlock.new(contentable_type: "AureliusPress::ContentBlock::VideoEmbedBlock"), child_index: "NEW_RECORD" do |content_block_form| %>
      <%= render "aurelius_press/admin/content_block/content_block_fields", form: content_block_form %>
    <% end %>
  </template>

  <%= form.error_notification %>

  <div class="form-inputs">
    <div class="grid row">
      <div class="column">
        <label>Author</label>
        <% if @page.new_record? %>
          <%= form.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
          <input type="text" value="<%= current_user.full_name %>" readonly />
        <% else %>
          <input type="text" value="<%= @page.user.full_name %>" readonly />
        <% end %>
      </div>
      <div class="column">
        <%= form.input :status, as: :select, collection: AureliusPress::Document::Document.statuses.keys.map { |status| [t(status), status] }, prompt: "Select Status", input_html: { data: { action: "change->document-meta#onStatusChange", document_meta_target: "statusSelect" } } %>
      </div>
      <div class="column">
        <%= form.input :published_at,
                       as: :datetime,
                       html5: true,
                       readonly: true,
                       input_html: {
                         data: {
                           document_meta_target: "publishedAt",
                         },
                       } %>
      </div>
      <div class="column">
        <%= form.input :visibility, as: :select, collection: AureliusPress::Document::Document.visibilities.keys.map { |visibility| [t(visibility), visibility] }, prompt: "Select Visibility" %>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <%= form.input :category_id, collection: @categories, label_method: :name, value_method: :id, as: :select, prompt: "Select Category" %>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <%= form.input :title, required: true, autofocus: true, input_html: { class: "form-control" } %>
      </div>
      <div class="column">
        <%= form.input :subtitle, input_html: { class: "form-control" } %>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <%= form.input :description, as: :text, input_html: { rows: 5, class: "form-control" } %>
      </div>
    </div>

    <div id="the-content-blocks">
      <%= form.simple_fields_for :content_blocks do |content_block_fields| %>
        <%= render "aurelius_press/admin/content_block/content_block_fields", form: content_block_fields %>
      <% end %>
      <div data-nested-forms-target="target"></div>
    </div>
  </div>

  <div class="form-actions grid">

    <button type="button" data-action="nested-forms#add" data-nested-forms-name="AureliusPress::ContentBlock::RichTextBlock">
      + Text
    </button>

    <button type="button" data-action="nested-forms#add" data-nested-forms-name="AureliusPress::ContentBlock::ImageBlock">
      + Image
    </button>

    <button type="button" data-action="nested-forms#add" data-nested-forms-name="AureliusPress::ContentBlock::GalleryBlock">
      + Gallery
    </button>

    <button type="button" data-action="nested-forms#add" data-nested-forms-name="AureliusPress::ContentBlock::VideoEmbedBlock">
      + Video
    </button>

    <% if in_admin_ns %>
      <% if @page.persisted? %>
        <%= link_to "Delete", aurelius_press_admin_document_page_path(@page), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "button danger", role: "button" %>
      <% end %>
      <%= link_to "Back", aurelius_press_admin_document_pages_path, class: "button warning", role: "button" %>
    <% else %>
      <% if @page.persisted? %>
        <%= link_to "Delete", aurelius_press_page_path(@page), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "button danger", role: "button" %>
      <% end %>
      <%= link_to "Back", aurelius_press_pages_path, class: "button warning", role: "button" %>
    <% end %>

    <%= form.button :submit, value: "#{@page.new_record? ? "Create" : "Update"}", class: "button success", role: :button %>
  </div>
<% end %>
