<%= render HeroComponent.new(
     title: "AureliusPress::Admin::Taxonomy::Tags#index",
     subtitle: "Find me in app/views/aurelius_press/admin/taxonomy/tags/index.html.erb",
     small: true,
   ) %>

<div class="container" template="AureliusPress::Admin::Taxonomy::Tags#index">

  <div class="row">
    <h3 class="flex justify-between items-center">
      <span>Tags</span>
      <%= link_to "New Tag", new_aurelius_press_admin_taxonomy_tag_path, class: "button success", role: "button" %>
    </h3>

    <table style="width: 100%; border-collapse: collapse; margin-top: 1rem;">
      <thead>
        <tr>
          <th>Slug</th>
          <th>Name</th>
          <th>Created At</th>
          <th>Updated At</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @tags.each do |tag| %>
          <tr>
            <td><%= tag.slug %></td>
            <td><%= link_to tag.name, aurelius_press_admin_taxonomy_tag_path(tag) %></td>
            <td><%= l(tag.created_at, format: :short) %></td>
            <td><%= l(tag.updated_at, format: :short) %></td>
            <td>
              <%= link_to "Show", aurelius_press_admin_taxonomy_tag_path(tag), class: "button btn-sm success", role: "button" %>
              <%= link_to "Edit", edit_aurelius_press_admin_taxonomy_tag_path(tag), class: "button btn-sm warning", role: "button" %>
              <%= link_to "Delete", aurelius_press_admin_taxonomy_tag_path(tag), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "button btn-sm danger", role: "button" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
