<%= form_with(model: [:aurelius_press, :admin, :community, like], local: true) do |form| %>
  <% if like.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(like.errors.count, "error") %> prohibited this like from being saved:</h2>
      <ul>
        <% like.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :likeable_type %>
    <%= form.text_field :likeable_type %>
  </div>

  <div class="field">
    <%= form.label :likeable_id %>
    <%= form.number_field :likeable_id %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.select :state, AureliusPress::Community::Like.states.keys %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
