<p>
  <strong>User:</strong>
  <%= @like.user.id %>
</p>
<p>
  <strong>Likeable:</strong>
  <%= @like.likeable_type %> #<%= @like.likeable_id %>
</p>
<p>
  <strong>State:</strong>
  <%= @like.state %>
</p>
<%= link_to 'Edit', edit_aurelius_press_admin_community_like_path(@like) %>
<%= link_to 'Back', aurelius_press_admin_community_likes_path %>
