<nav class="navigation">
  <div class="container flex justify-between items-center">
    <div class="left-nav">
      <%= link_to "Home", root_path %>
      <%= link_to "Manage Users", aurelius_press_admin_users_path %>
    </div>
    <div class="right-nav">
      <% if current_user %>
        <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to logout?" } %>
      <% else %>
        <%= link_to "Login", user_session_path %>
        <%= link_to "Sign Up", new_user_registration_path %>
      <% end %>
    </div>
  </div>
</nav>
