<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Aurelius Press" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# <link rel="manifest" href="/manifest.json"> %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/navigation" %>

    <div data-controller="colour-diff" class="container hide">
      <h2>Colour (Lightness) Difference Calculator</h2>
      <div class="colour-inputs grid row">
        <input type="color" data-colour-diff-target="color1" />
        <input type="color" data-colour-diff-target="color2" />
        <button data-colour-diff-target="calculateButton" data-action="colour-diff#onClickCalculate">Calculate</button>
      </div>
      <h3>Results</h3>
      <div class="colour-results grid row">
        <div data-colour-diff-target="result" class="p-3 grid row"></div>
        <pre data-colour-diff-target="code" class="p-3"></pre>
      </div>
    </div>

    <%= yield %>

    <%= render "layouts/flash_messages" %>
  </body>
</html>
